<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010120093223-ga5m9ofts9ru0qni4qq2tqu08bkaop8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010120093223-ga5m9ofts9ru0qni4qq2tqu08bkaop8e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1010120093223-2gec47a7ea6118toc903sdemkqm0dlig.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBm8gg6J7-PQPCW9Wo6xHd1HScpOTuuxhU</string>
	<key>GCM_SENDER_ID</key>
	<string>1010120093223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-ae82e</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-ae82e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010120093223:ios:e75d1507d7e937b0f16802</string>
</dict>
</plist>